[Desktop Entry]
Type=Application
Icon=applications-other
Exec=qvm-run -q --tray -a --user=root %VMNAME% "kpackagekit -caption "%c" %i %F"
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.KPackageKit

Name=%VMNAME%: KPackageKit
Name[bg]=%VMNAME%: KPackageKit
Name[ca]=%VMNAME%: KPackageKit
Name[ca@valencia]=%VMNAME%: KPackageKit
Name[cs]=%VMNAME%: KPackageKit
Name[da]=%VMNAME%: KPackageKit
Name[de]=%VMNAME%: KPackageKit
Name[el]=%VMNAME%: KPackageKit
Name[en_GB]=%VMNAME%: KPackageKit
Name[es]=%VMNAME%: KPackageKit
Name[et]=%VMNAME%: KPackageKit
Name[fi]=%VMNAME%: KPackageKit
Name[fr]=%VMNAME%: KPackageKit
Name[ga]=%VMNAME%: KPackageKit
Name[gl]=%VMNAME%: KPackageKit
Name[hu]=%VMNAME%: KPackageKit
Name[km]=%VMNAME%: KPackageKit
Name[nds]=%VMNAME%: KPackageKit
Name[nl]=%VMNAME%: KPackageKit
Name[nn]=%VMNAME%: KPackageKit
Name[pa]=%VMNAME%: ਕੇ-ਪੈਕੇਜ-ਕਿੱਟ
Name[pt]=%VMNAME%: KPackageKit
Name[pt_BR]=%VMNAME%: KPackageKit
Name[ro]=%VMNAME%: KPackageKit
Name[sk]=%VMNAME%: KPackageKit
Name[sv]=%VMNAME%: Kpackagekit
Name[tr]=%VMNAME%: KPackageKit
Name[uk]=%VMNAME%: KPackageKit
Name[x-test]=%VMNAME%: xxKPackageKitxx
GenericName=%VMNAME%: Software Management
GenericName[bg]=%VMNAME%: Управление на софтуер
GenericName[ca]=%VMNAME%: Gestor de programari
GenericName[ca@valencia]=%VMNAME%: Gestor de programari
GenericName[cs]=%VMNAME%: Správa softwaru
GenericName[da]=%VMNAME%: Håndtering af software
GenericName[de]=%VMNAME%: Softwareverwaltung
GenericName[el]=%VMNAME%: Διαχείριση λογισμικού
GenericName[en_GB]=%VMNAME%: Software Management
GenericName[es]=%VMNAME%: Gestión de software
GenericName[et]=%VMNAME%: Tarkvarahaldur
GenericName[fi]=%VMNAME%: Ohjelmistonhallinta
GenericName[fr]=%VMNAME%: Gestion des logiciels
GenericName[gl]=%VMNAME%: Xestión de software
GenericName[hu]=%VMNAME%: Szoftver Menedzsment
GenericName[km]=%VMNAME%: ការ​គ្រប់គ្រង​កម្មវិធី
GenericName[nds]=%VMNAME%: Programmpleeg
GenericName[nl]=%VMNAME%: Softwarebeheer
GenericName[nn]=%VMNAME%: Programvarehandsaming
GenericName[pa]=%VMNAME%: ਸਾਫਟਵੇਅਰ ਪਰਬੰਧ
GenericName[pt]=%VMNAME%: Gestão de Aplicações
GenericName[pt_BR]=%VMNAME%: Gerenciamento de software
GenericName[ro]=%VMNAME%: Gestiune programe
GenericName[sk]=%VMNAME%: Správa softvéru
GenericName[sv]=%VMNAME%: Programvaruhantering
GenericName[tr]=%VMNAME%: Yazılım Yönetimi
GenericName[uk]=%VMNAME%: Керування програмами
GenericName[x-test]=%VMNAME%: xxSoftware Managementxx
Comment=PackageKit interface for KDE
Comment[bg]=Интерфейс на PackageKit за KDE
Comment[ca]=Interfície del PackageKit per al KDE
Comment[ca@valencia]=Interfície del PackageKit per al KDE
Comment[cs]=PackageKit rozhraní pro KDE
Comment[da]=PackageKit-brugerflade til KDE
Comment[el]=Διασύνδεση PackageKit για το KDE
Comment[en_GB]=PackageKit interface for KDE
Comment[es]=Interfaz de PackageKit para KDE
Comment[et]=PackageKiti KDE liides
Comment[fi]=KDE:n PackageKit-liittymä
Comment[fr]=Interface PackageKit pour KDE
Comment[gl]=Interface de PackageKit para KDE
Comment[hu]=PackageKit interfész a KDE-re
Comment[km]=ចំណុច​ប្រទាក់ PackageKit សម្រាប់ KDE
Comment[nds]=KPackageKit-Koppelsteed för KDE
Comment[nl]=KDE-interface voor PackageKit
Comment[nn]=Brukargrensesnitt for programvarehandsaming i KDE
Comment[pa]=KDE ਲਈ ਪੈਕੇਜ-ਕਿੱਟ ਇੰਟਰਫੇਸ
Comment[pt]=Interface do PackageKit para o KDE
Comment[pt_BR]=Interface do PackageKit para o KDE
Comment[ro]=Interfață PackageKit pentru KDE
Comment[sk]=PackageKit rozhranie pre KDE
Comment[sv]=Packagekit-gränssnitt för KDE
Comment[tr]=KDE için PackageKit arayüzü
Comment[uk]=Інтерфейс PackageKit для KDE
Comment[x-test]=xxPackageKit interface for KDExx

Terminal=false
Categories=Qt;KDE;System;PackageManager;
InitialPreference=10
X-Qubes-VmName=%VMNAME%
Icon=%VMDIR%/icon.png
