[Desktop Entry]
Exec=qvm-run -q --tray -a --user=root %VMNAME% "systemsettings -caption "%c" %i"
Icon=preferences-system
Type=Application
X-DocPath=systemsettings/index.html
X-KDE-StartupNotify=true

GenericName=%VMNAME%: System Settings
GenericName[ar]=%VMNAME%: إعدادات النظام
GenericName[be@latin]=%VMNAME%: Systemnyja nałady
GenericName[bg]=%VMNAME%: Системни настройки
GenericName[bn]=%VMNAME%: সিস্টেম সেটিংস
GenericName[bn_IN]=%VMNAME%: সিস্টেম সংক্রান্ত বৈশিষ্ট্য
GenericName[ca]=%VMNAME%: Arranjament del sistema
GenericName[ca@valencia]=%VMNAME%: Arranjament del sistema
GenericName[cs]=%VMNAME%: Nastavení systému
GenericName[csb]=%VMNAME%: Systemòwé ùstôwë
GenericName[da]=%VMNAME%: Systemindstillinger
GenericName[de]=%VMNAME%: Systemeinstellungen
GenericName[el]=%VMNAME%: Ρυθμίσεις συστήματος
GenericName[en_GB]=%VMNAME%: System Settings
GenericName[eo]=%VMNAME%: Sistema agordo
GenericName[es]=%VMNAME%: Preferencias del sistema
GenericName[et]=%VMNAME%: Süsteemi seadistused
GenericName[eu]=%VMNAME%: Sistemaren ezarpenak
GenericName[fi]=%VMNAME%: Järjestelmän asetukset
GenericName[fr]=%VMNAME%: Configuration du système
GenericName[fy]=%VMNAME%: Systeemynstellings
GenericName[ga]=%VMNAME%: Socruithe an Chórais
GenericName[gl]=%VMNAME%: Configuración do sistema
GenericName[gu]=%VMNAME%: સિસ્ટમ ગોઠવણીઓ
GenericName[he]=%VMNAME%: הגדרות מערכת
GenericName[hi]=%VMNAME%: तंत्र विन्यास
GenericName[hne]=%VMNAME%: तंत्र सेटिंग
GenericName[hr]=%VMNAME%: Postavke sustava
GenericName[hu]=%VMNAME%: Rendszerbeállítások
GenericName[id]=%VMNAME%: Pengaturan Sistem
GenericName[is]=%VMNAME%: Kerfisstillingar
GenericName[it]=%VMNAME%: Impostazioni di sistema
GenericName[ja]=%VMNAME%: システム設定
GenericName[kk]=%VMNAME%: Жүйе параметрлері
GenericName[km]=%VMNAME%: ការ​កំណត់​ប្រព័ន្ធ​
GenericName[kn]=%VMNAME%: ವ್ಯವಸ್ಥೆಯ ಸಂಯೋಜನೆಗಳು
GenericName[ko]=%VMNAME%: 시스템 설정
GenericName[ku]=%VMNAME%: Mîhengên Pergalê
GenericName[lt]=%VMNAME%: Sistemos nustatymai
GenericName[lv]=%VMNAME%: Sistēmas iestatījumi
GenericName[mai]=%VMNAME%: तंत्र बिन्यास
GenericName[mk]=%VMNAME%: Системски поставувања
GenericName[ml]=%VMNAME%: സിസ്റ്റം സജ്ജീകരണങ്ങള്‍
GenericName[mr]=%VMNAME%: प्रणाली संयोजना
GenericName[nb]=%VMNAME%: Systeminnstillinger
GenericName[nds]=%VMNAME%: Systeeminstellen
GenericName[nl]=%VMNAME%: Systeeminstellingen
GenericName[nn]=%VMNAME%: Systemoppsett
GenericName[oc]=%VMNAME%: Configuracion del sistèma
GenericName[or]=%VMNAME%: ତନ୍ତ୍ର ବିନ୍ୟାସ
GenericName[pa]=%VMNAME%: ਸਿਸਟਮ ਸੈਟਿੰਗ
GenericName[pl]=%VMNAME%: Ustawienia systemowe
GenericName[pt]=%VMNAME%: Configuração do Sistema
GenericName[pt_BR]=%VMNAME%: Configurações do sistema
GenericName[ro]=%VMNAME%: Configurări de sistem
GenericName[ru]=%VMNAME%: Параметры системы
GenericName[se]=%VMNAME%: Vuogádatheivehusat
GenericName[si]=%VMNAME%: පද්ධති සැකසුම්
GenericName[sk]=%VMNAME%: Systémové nastavenia
GenericName[sl]=%VMNAME%: Sistemske nastavitve
GenericName[sr]=%VMNAME%: Системске поставке
GenericName[sr@ijekavian]=%VMNAME%: Системске поставке
GenericName[sr@ijekavianlatin]=%VMNAME%: Sistemske postavke
GenericName[sr@latin]=%VMNAME%: Sistemske postavke
GenericName[sv]=%VMNAME%: Systeminställningar
GenericName[ta]=%VMNAME%: System Settings
GenericName[te]=%VMNAME%: సిస్టమ్ అమర్పులు
GenericName[tg]=%VMNAME%: Танзимотҳои система
GenericName[th]=%VMNAME%: ตั้งค่าระบบ
GenericName[tr]=%VMNAME%: Sistem Ayarları
GenericName[uk]=%VMNAME%: Системні параметри
GenericName[uz]=%VMNAME%: Tizim moslamalari
GenericName[uz@cyrillic]=%VMNAME%: Тизим мосламалари
GenericName[wa]=%VMNAME%: Apontiaedjes do sistinme
GenericName[x-test]=%VMNAME%: xxSystem Settingsxx
GenericName[zh_CN]=%VMNAME%: 系统设置
GenericName[zh_TW]=%VMNAME%: 系統設定

Name=%VMNAME%: System Settings
Name[ar]=%VMNAME%: إعدادات النظام
Name[be]=%VMNAME%: Сістэмныя настаўленні
Name[be@latin]=%VMNAME%: Systemnyja nałady
Name[bg]=%VMNAME%: Системни настройки
Name[bn]=%VMNAME%: সিস্টেম সেটিংস
Name[bn_IN]=%VMNAME%: সিস্টেম সংক্রান্ত বৈশিষ্ট্য
Name[br]=%VMNAME%: Dibarzhoù ar reizhiad
Name[ca]=%VMNAME%: Arranjament del sistema
Name[ca@valencia]=%VMNAME%: Arranjament del sistema
Name[cs]=%VMNAME%: Nastavení systému
Name[csb]=%VMNAME%: Systemòwé ùstôwë
Name[da]=%VMNAME%: Systemindstillinger
Name[de]=%VMNAME%: Systemeinstellungen
Name[el]=%VMNAME%: Ρυθμίσεις συστήματος
Name[en_GB]=%VMNAME%: System Settings
Name[eo]=%VMNAME%: Sistema agordo
Name[es]=%VMNAME%: Preferencias del sistema
Name[et]=%VMNAME%: Süsteemi seadistused
Name[eu]=%VMNAME%: Sistemaren ezarpenak
Name[fa]=%VMNAME%: تنظیمات سیستم
Name[fi]=%VMNAME%: Järjestelmän asetukset
Name[fr]=%VMNAME%: Configuration du système
Name[fy]=%VMNAME%: Systeemynstellings
Name[ga]=%VMNAME%: Socruithe an Chórais
Name[gl]=%VMNAME%: Configuración do sistema
Name[gu]=%VMNAME%: સિસ્ટમ ગોઠવણીઓ
Name[he]=%VMNAME%: הגדרות מערכת
Name[hi]=%VMNAME%: तंत्र विन्यास
Name[hne]=%VMNAME%: तंत्र सेटिंग
Name[hr]=%VMNAME%: Postavke sustava
Name[hu]=%VMNAME%: Rendszerbeállítások
Name[id]=%VMNAME%: Pengaturan Sistem
Name[is]=%VMNAME%: Kerfisstillingar
Name[it]=%VMNAME%: Impostazioni di sistema
Name[ja]=%VMNAME%: KDE システム設定
Name[kk]=%VMNAME%: Жүйе параметрлері
Name[km]=%VMNAME%: ការ​កំណត់​ប្រព័ន្ធ​
Name[kn]=%VMNAME%: ವ್ಯವಸ್ಥೆಯ ಸಂಯೋಜನೆಗಳು
Name[ko]=%VMNAME%: 시스템 설정
Name[ku]=%VMNAME%: Mîhengên Pergalê
Name[lt]=%VMNAME%: Sistemos nustatymai
Name[lv]=%VMNAME%: Sistēmas iestatījumi
Name[mai]=%VMNAME%: तंत्र बिन्यास
Name[mk]=%VMNAME%: Системски поставувања
Name[ml]=%VMNAME%: സിസ്റ്റം സജ്ജീകരണങ്ങള്‍
Name[mr]=%VMNAME%: प्रणाली संयोजना
Name[nb]=%VMNAME%: Systemoppsett
Name[nds]=%VMNAME%: Systeeminstellen
Name[ne]=%VMNAME%: प्रणाली सेटिङ
Name[nl]=%VMNAME%: Systeeminstellingen
Name[nn]=%VMNAME%: Systemoppsett
Name[oc]=%VMNAME%: Configuracion del sistèma
Name[or]=%VMNAME%: ତନ୍ତ୍ର ବିନ୍ୟାସ
Name[pa]=%VMNAME%: ਸਿਸਟਮ ਸੈਟਿੰਗ
Name[pl]=%VMNAME%: Ustawienia systemowe
Name[pt]=%VMNAME%: Configuração do Sistema
Name[pt_BR]=%VMNAME%: Configurações do sistema
Name[ro]=%VMNAME%: Configurări de sistem
Name[ru]=%VMNAME%: Параметры системы
Name[se]=%VMNAME%: Vuogádatheivehusat
Name[si]=%VMNAME%: පද්ධති සැකසුම්
Name[sk]=%VMNAME%: Systémové nastavenia
Name[sl]=%VMNAME%: Sistemske nastavitve
Name[sr]=%VMNAME%: Системске поставке
Name[sr@ijekavian]=%VMNAME%: Системске поставке
Name[sr@ijekavianlatin]=%VMNAME%: Sistemske postavke
Name[sr@latin]=%VMNAME%: Sistemske postavke
Name[sv]=%VMNAME%: Systeminställningar
Name[ta]=%VMNAME%: System Settings
Name[te]=%VMNAME%: సిస్టమ్ అమర్పులు
Name[tg]=%VMNAME%: Танзимотҳои система
Name[th]=%VMNAME%: ตั้งค่าระบบ
Name[tr]=%VMNAME%: Sistem Ayarları
Name[uk]=%VMNAME%: Системні параметри
Name[uz]=%VMNAME%: Tizim moslamalari
Name[uz@cyrillic]=%VMNAME%: Тизим мосламалари
Name[wa]=%VMNAME%: Apontiaedjes do sistinme
Name[x-test]=%VMNAME%: xxSystem Settingsxx
Name[zh_CN]=%VMNAME%: 系统设置
Name[zh_TW]=%VMNAME%: 系統設定

X-DBUS-StartupType=Unique
Categories=Qt;KDE;Settings;
OnlyShowIn=KDE;
X-Qubes-VmName=%VMNAME%
Icon=%VMDIR%/icon.png
