
[Desktop Entry]
Name=%VMNAME%: Date & Time
Name[ar]=%VMNAME%: التّاريخ والوقت
Name[as]=%VMNAME%: দিন আৰু সময়
Name[ast]=%VMNAME%: Data y hora
Name[be]=%VMNAME%: Дата й Час
Name[bg]=%VMNAME%: Дата и време
Name[bn]=%VMNAME%: তারিখ ও সময়
Name[bn_IN]=%VMNAME%: তারিখ ও সময়
Name[bs]=%VMNAME%: Datum i vrijeme
Name[ca]=%VMNAME%: Data i hora
Name[cs]=%VMNAME%: Datum a čas
Name[cy]=%VMNAME%: Dyddiad ac Amser
Name[da]=%VMNAME%: Dato og Tid
Name[de]=%VMNAME%: Datum & Uhrzeit
Name[el]=%VMNAME%: Ημερομηνία και ώρα
Name[en_GB]=%VMNAME%: Date & Time
Name[es]=%VMNAME%: Fecha y Hora
Name[et]=%VMNAME%: Kuupäev ja aeg
Name[fa]=%VMNAME%: تاریخ و زمان
Name[fi]=%VMNAME%: Päivämäärä ja aika
Name[fr]=%VMNAME%: Date & heure
Name[gl]=%VMNAME%: Data e hora
Name[gu]=%VMNAME%: તારીખ અને સમય
Name[he]=%VMNAME%: תאריך ושעה
Name[hi]=%VMNAME%: तिथि व समय
Name[hr]=%VMNAME%: Datum i vrijeme
Name[hu]=%VMNAME%: Dátum és idő
Name[id]=%VMNAME%: Tanggal & Waktu
Name[is]=%VMNAME%: Dagsetning og tími
Name[it]=%VMNAME%: Data e ora
Name[ja]=%VMNAME%: 日付と時刻
Name[ka]=%VMNAME%: დრო და თარიღი
Name[kn]=%VMNAME%: ದಿನಾಂಕ ಮತ್ತು ಸಮಯ
Name[ko]=%VMNAME%: 날짜 & 시간
Name[lt]=%VMNAME%: Data & Laikas
Name[lv]=%VMNAME%: Datums & Laiks
Name[mai]=%VMNAME%: दिनांक आ समय
Name[mk]=%VMNAME%: Датум и време
Name[ml]=%VMNAME%: തീയതിയും സമയവും
Name[mr]=%VMNAME%: तारीख आणि वेळ
Name[ms]=%VMNAME%: Tarikh & Masa
Name[nb]=%VMNAME%: Dato og Tid
Name[nl]=%VMNAME%: Datum & tijd
Name[nn]=%VMNAME%: Dato og Tid
Name[or]=%VMNAME%: ତାରିଖ ଏବଂ ସମୟ
Name[pa]=%VMNAME%: ਮਿਤੀ ਤੇ ਟਾਈਮ
Name[pl]=%VMNAME%: Data i czas
Name[pt]=%VMNAME%: Data e Hora
Name[pt_BR]=%VMNAME%: Data & hora
Name[ro]=%VMNAME%: Data şi timpul
Name[ru]=%VMNAME%: Дата и время
Name[si]=%VMNAME%: දිනය සහ වේලාව
Name[sk]=%VMNAME%: Dátum a čas
Name[sl]=%VMNAME%: Datum in čas
Name[sr]=%VMNAME%: Датум и време
Name[sr@latin]=%VMNAME%: Datum i vreme
Name[sv]=%VMNAME%: Datum och tid
Name[ta]=%VMNAME%: தேதி மற்றும் நேரம்
Name[te]=%VMNAME%: తేదీ మరియు సమయం
Name[tr]=%VMNAME%: Tarih ve Zaman
Name[uk]=%VMNAME%: Дата й час
Name[ur]=%VMNAME%: وقت اور تاریخ۔
Name[vi]=%VMNAME%: Ngày giờ
Name[zh_CN]=%VMNAME%: 日期和时间
Name[zh_TW]=%VMNAME%: 日期和時間
Comment=Change system date and time
Comment[ar]=تغيير تاريخ ووقت النّظام
Comment[as]=ব্যৱস্থাপ্ৰণালীৰ দিন আৰু সময় সলনি কৰক
Comment[ast]=Camudar data y hora del sistema 
Comment[be]=Змяніць сістэмную дату й час
Comment[bg]=Промяна на системната дата и време
Comment[bn]=সিস্টেমের তারিখ ও সময় পরিবর্তন করুন
Comment[bn_IN]=সিস্টেমের তারিখ ও সময় পরিবর্তন করুন
Comment[bs]=Mijenja datum i vrijeme sustava
Comment[ca]=Canvieu l'hora i la data del sistema
Comment[cs]=Změnit systémové datum a čas
Comment[cy]=Newid dyddiad ac amser y system
Comment[da]=Skift systemets dato og tid
Comment[de]=Systemdatum und -uhrzeit ändern
Comment[el]=Αλλαγή ημερομηνίας και ώρας συστήματος
Comment[en_GB]=Change system date and time
Comment[es]=Cambiar la fecha y la hora del sistema
Comment[et]=Muuda süsteemi kuupäeva ja aega
Comment[fa]=تغییر تاریخ و زمان سیستم
Comment[fi]=Muuta järjestelmän päivämäärää ja kellonaikaa
Comment[fr]=Modification de la date et de l'heure du système
Comment[gl]=Cambiar a data e a hora do sistema
Comment[gu]=સિસ્ટમનો સમય અને તારીખ બદલો
Comment[he]=שנה את השעה והתאריך של המערכת
Comment[hi]=सिस्टम का तिथि व समय बदलें
Comment[hr]=Mijenja datum i vrijeme sustava
Comment[hu]=Dátum és idő megváltoztatása
Comment[id]=Ganti tanggal dan waktu sistem
Comment[is]=Breyta dagssetningu og tíma
Comment[it]=Modifica data ed ora del sistema
Comment[ja]=システムの日付と時刻を変更
Comment[ka]=სისტემური დროის და თარიღის შეცვლა
Comment[kn]=ವ್ಯವಸ್ಥೆಯ ದಿನಾಂಕ ಮತ್ತು ಸಮಯವನ್ನು ಬದಲಾಯಿಸು 
Comment[ko]=시스템 날짜와 시간 변경
Comment[lt]=Keisti sistemos datą ir laiką
Comment[lv]=Sistēmas datuma un laika maiņa
Comment[mai]=तंत्र क' दिनांक आओर समय बदलू
Comment[mk]=Промени ги системските датум и време
Comment[ml]=കമ്പ്യൂട്ടറിലെ തീയതിയും സമയവും മാറ്റുക
Comment[mr]=प्रणालीची तारीख आणि वेळ बदलवा
Comment[ms]=Tukar masa dan tarikh sistem
Comment[nb]=Endre klokkeslett og dato for systemet
Comment[nl]=Systeemdatum en tijd wijzigen
Comment[or]=ତନ୍ତ୍ରର ତାରିଖ ଏବଂ ସମୟକୁ ପରିବର୍ତ୍ତନ କରନ୍ତୁ
Comment[pa]=ਸਿਸਟਮ ਮਿਤੀ ਅਤੇ ਟਾਈਮ ਤਬਦੀਲ ਕਰੋ
Comment[pl]=Zmiana daty i czasu systemowego
Comment[pt]=Alterar a data e hora do sistema
Comment[pt_BR]=Altere a data e a hora do sistema
Comment[ro]=Schimbă data şi timpul sistemului
Comment[ru]=Смена системной даты и времени
Comment[si]=පද්ධතියේ දිනය සහ වේලාව වෙනස් කරන්න
Comment[sk]=Zmeniť systémový dátum a čas
Comment[sl]=Spremeni sistemski datum in čas
Comment[sr]=Мења системски датум и време
Comment[sr@latin]=Menja sistemski datum i vreme
Comment[sv]=Ändra systemets datum och tid
Comment[ta]=கணினி தேதி மற்றும் நேரத்தை மாற்றவும்
Comment[te]=కంప్యూటరు తేదీ మరియూ సమయాన్ని మార్చు
Comment[tr]=Sistem tarih ve zamanını değiştir
Comment[uk]=Зміна системної дати та часу
Comment[ur]=سسٹم کی تاریخ اور وقت کو تبدیل کرو۔
Comment[vi]=Đổi ngày giờ hệ thống
Comment[zh_CN]=修改系统日期或时间
Comment[zh_TW]=更改系統的日期與時間
Categories=System;Settings;X-Red-Hat-Base;
Icon=system-config-date
Exec=qvm-run -q --tray -a --user=root %VMNAME% "/usr/bin/system-config-date"
Type=Application
Terminal=false
X-Desktop-File-Install-Version=0.16
X-Qubes-VmName=%VMNAME%
Icon=%VMDIR%/icon.png
