[Desktop Entry]
Type=Application
Exec=qvm-run -q --tray -a --user=root %VMNAME% "konsole"
Icon=%VMDIR%/icon.png
X-DocPath=konsole/index.html
Terminal=false
X-KDE-StartupNotify=true

Name=%VMNAME%: Konsole
Name[af]=%VMNAME%: Konsole
Name[ar]=%VMNAME%: كونسول
Name[as]=%VMNAME%: Konsole
Name[be]=%VMNAME%: Konsole
Name[be@latin]=%VMNAME%: Konsole
Name[bg]=%VMNAME%: Konsole
Name[bn]=%VMNAME%: কনসোল
Name[bn_IN]=%VMNAME%: Konsole
Name[br]=%VMNAME%: Konsole
Name[ca]=%VMNAME%: Konsole
Name[ca@valencia]=%VMNAME%: Konsole
Name[cs]=%VMNAME%: Konsole
Name[csb]=%VMNAME%: Kònsola
Name[cy]=%VMNAME%: Konsole
Name[da]=%VMNAME%: Konsole
Name[de]=%VMNAME%: Konsole
Name[el]=%VMNAME%: Κονσόλα
Name[en_GB]=%VMNAME%: Konsole
Name[eo]=%VMNAME%: Konsole
Name[es]=%VMNAME%: Konsole
Name[et]=%VMNAME%: Konsool
Name[eu]=%VMNAME%: Kontsola
Name[fi]=%VMNAME%: Konsole
Name[fr]=%VMNAME%: Konsole
Name[fy]=%VMNAME%: Konsole
Name[ga]=%VMNAME%: Konsole
Name[gl]=%VMNAME%: Konsole
Name[gu]=%VMNAME%: કોન્સોલ
Name[he]=%VMNAME%: Konsole
Name[hi]=%VMNAME%: कंसोल
Name[hne]=%VMNAME%: कंसोल
Name[hr]=%VMNAME%: Konzola
Name[hsb]=%VMNAME%: Konsola
Name[hu]=%VMNAME%: Konsole
Name[is]=%VMNAME%: Skjáhermir
Name[it]=%VMNAME%: Konsole
Name[ja]=%VMNAME%: Konsole
Name[ka]=%VMNAME%: კონსოლი
Name[kk]=%VMNAME%: Konsole
Name[km]=%VMNAME%: កុងសូល
Name[kn]=%VMNAME%: ಕನ್ಸೋಲ್
Name[ko]=%VMNAME%: Konsole
Name[ku]=%VMNAME%: Konsol
Name[lt]=%VMNAME%: Konsole
Name[lv]=%VMNAME%: Konsole
Name[mai]=%VMNAME%: कंसोल
Name[mk]=%VMNAME%: Конзола
Name[ml]=%VMNAME%: കണ്‍സോള്‍
Name[mr]=%VMNAME%: कंसोल
Name[ms]=%VMNAME%: Konsole
Name[nb]=%VMNAME%: Konsole
Name[nds]=%VMNAME%: Konsole
Name[ne]=%VMNAME%: कन्सोल
Name[nl]=%VMNAME%: Konsole
Name[nn]=%VMNAME%: Konsoll
Name[oc]=%VMNAME%: Konsole
Name[or]=%VMNAME%: କୋଲସୋଲ
Name[pa]=%VMNAME%: ਕਨਸੋਲ
Name[pl]=%VMNAME%: Konsola
Name[pt]=%VMNAME%: Konsole
Name[pt_BR]=%VMNAME%: Konsole
Name[ro]=%VMNAME%: Konsolă
Name[ru]=%VMNAME%: Konsole
Name[se]=%VMNAME%: Konsolla
Name[si]=%VMNAME%: Konsole
Name[sk]=%VMNAME%: Konzola
Name[sl]=%VMNAME%: Konzola
Name[sr]=%VMNAME%: Конзола
Name[sr@latin]=%VMNAME%: Konsole
Name[sv]=%VMNAME%: Konsole
Name[ta]=%VMNAME%: கான்சோல்
Name[te]=%VMNAME%: కాన్సోల్
Name[tg]=%VMNAME%: Консол
Name[th]=%VMNAME%: คอนโซล K
Name[tr]=%VMNAME%: Konsole
Name[uk]=%VMNAME%: Konsole
Name[uz]=%VMNAME%: Konsole
Name[uz@cyrillic]=%VMNAME%: Konsole
Name[vi]=%VMNAME%: Konsole
Name[wa]=%VMNAME%: Konsole
Name[xh]=%VMNAME%: Konsole
Name[x-test]=%VMNAME%: xxKonsolexx
Name[zh_CN]=%VMNAME%: Konsole
Name[zh_TW]=%VMNAME%: Konsole

GenericName=%VMNAME%: Terminal
GenericName[af]=%VMNAME%: Terminaal
GenericName[ar]=%VMNAME%: طرفيّة
GenericName[as]=%VMNAME%: টাৰ্মিনেল
GenericName[be@latin]=%VMNAME%: Terminał
GenericName[bg]=%VMNAME%: Терминал
GenericName[bn]=%VMNAME%: টার্মিনাল
GenericName[bn_IN]=%VMNAME%: টার্মিন্যাল
GenericName[ca]=%VMNAME%: Terminal
GenericName[ca@valencia]=%VMNAME%: Terminal
GenericName[cs]=%VMNAME%: Terminál
GenericName[csb]=%VMNAME%: Terminal
GenericName[da]=%VMNAME%: Terminal
GenericName[de]=%VMNAME%: Terminal
GenericName[el]=%VMNAME%: Τερματικό
GenericName[en_GB]=%VMNAME%: Terminal
GenericName[eo]=%VMNAME%: Terminalo
GenericName[es]=%VMNAME%: Terminal
GenericName[et]=%VMNAME%: Terminal
GenericName[eu]=%VMNAME%: Terminala
GenericName[fi]=%VMNAME%: Komentoikkuna
GenericName[fr]=%VMNAME%: Terminal
GenericName[fy]=%VMNAME%: Terminal
GenericName[ga]=%VMNAME%: Teirminéal
GenericName[gl]=%VMNAME%: Terminal
GenericName[gu]=%VMNAME%: ટર્મિનલ
GenericName[he]=%VMNAME%: מסוף
GenericName[hi]=%VMNAME%: टर्मिनल
GenericName[hne]=%VMNAME%: टर्मिनल
GenericName[hr]=%VMNAME%: Terminal
GenericName[hsb]=%VMNAME%: Terminal
GenericName[hu]=%VMNAME%: Terminál
GenericName[is]=%VMNAME%: Skjáhermir
GenericName[it]=%VMNAME%: Terminale
GenericName[ja]=%VMNAME%: ターミナル
GenericName[kk]=%VMNAME%: Терминал
GenericName[km]=%VMNAME%: ស្ថានីយ
GenericName[kn]=%VMNAME%: ಆದೇಶತೆರೆ (ಟರ್ಮಿನಲ್)
GenericName[ko]=%VMNAME%: 터미널
GenericName[ku]=%VMNAME%: Termînal
GenericName[lt]=%VMNAME%: Terminalas
GenericName[lv]=%VMNAME%: Terminālis
GenericName[mai]=%VMNAME%: टर्मिनल
GenericName[mk]=%VMNAME%: Терминал
GenericName[ml]=%VMNAME%: ടെര്‍മിനല്‍
GenericName[mr]=%VMNAME%: टर्मिनल
GenericName[nb]=%VMNAME%: Terminal
GenericName[nds]=%VMNAME%: Konsool
GenericName[nl]=%VMNAME%: Terminal
GenericName[nn]=%VMNAME%: Terminal
GenericName[or]=%VMNAME%: ଟର୍ମିନାଲ
GenericName[pa]=%VMNAME%: ਟਰਮੀਨਲ
GenericName[pl]=%VMNAME%: Terminal
GenericName[pt]=%VMNAME%: Terminal
GenericName[pt_BR]=%VMNAME%: Terminal
GenericName[ro]=%VMNAME%: Terminal
GenericName[ru]=%VMNAME%: Терминал
GenericName[se]=%VMNAME%: Terminal
GenericName[si]=%VMNAME%: Terminal
GenericName[sk]=%VMNAME%: Terminál
GenericName[sl]=%VMNAME%: Terminal
GenericName[sr]=%VMNAME%: Терминал
GenericName[sr@latin]=%VMNAME%: Terminal
GenericName[sv]=%VMNAME%: Terminal
GenericName[ta]=%VMNAME%: முனையம்
GenericName[te]=%VMNAME%: టెర్మినల్
GenericName[tg]=%VMNAME%: Терминал
GenericName[th]=%VMNAME%: เทอร์มินัล
GenericName[tr]=%VMNAME%: Uçbirim
GenericName[uk]=%VMNAME%: Термінал
GenericName[uz]=%VMNAME%: Terminal
GenericName[uz@cyrillic]=%VMNAME%: Терминал
GenericName[wa]=%VMNAME%: Terminå
GenericName[x-test]=%VMNAME%: xxTerminalxx
GenericName[zh_CN]=%VMNAME%: 终端
GenericName[zh_TW]=%VMNAME%: 終端機
X-DBUS-StartupType=Unique
X-KDE-AuthorizeAction=shell_access
Categories=Qt;KDE;System;TerminalEmulator;
X-Qubes-VmName=%VMNAME%
