[Desktop Entry]
Name=%VMNAME%: Network Connections
Name[ar]=%VMNAME%: الاتصالات الشبكية
Name[as]=%VMNAME%: নে'টৱৰ্ক সংযোগসমূহ
Name[be]=%VMNAME%: Сеткавыя далучэньні
Name[be@latin]=%VMNAME%: Sietkavyja spałučeńni
Name[bg]=%VMNAME%: Мрежови връзки
Name[bn_IN]=%VMNAME%: নেটওয়ার্ক সংযোগসমূহ
Name[ca]=%VMNAME%: Connexions de xarxa
Name[crh]=%VMNAME%: Şebeke Bağlantıları
Name[cs]=%VMNAME%: Připojení k síti
Name[da]=%VMNAME%: Netværksforbindelser
Name[de]=%VMNAME%: Netzwerkverbindungen
Name[el]=%VMNAME%: Συνδέσεις δικτύου
Name[en_GB]=%VMNAME%: Network Connections
Name[es]=%VMNAME%: Conexiones de red
Name[et]=%VMNAME%: Võrguühendused
Name[eu]=%VMNAME%: Sareko konexioak
Name[fi]=%VMNAME%: Verkkoyhteydet
Name[fr]=%VMNAME%: Connexions réseau
Name[gl]=%VMNAME%: Conexións de rede
Name[gu]=%VMNAME%: નેટવર્ક જોડાણો
Name[he]=%VMNAME%: חיבורי רשת
Name[hu]=%VMNAME%: Hálózati kapcsolatok
Name[id]=%VMNAME%: Sambungan Jaringan
Name[it]=%VMNAME%: Connessioni di rete
Name[kn]=%VMNAME%: ಜಾಲಬಂಧ ಸಂಪರ್ಕಗಳು
Name[ko]=%VMNAME%: 네트워크 연결
Name[lt]=%VMNAME%: Tinklo ryšiai
Name[mk]=%VMNAME%: Мрежни врски
Name[ml]=%VMNAME%: നെറ്റ്‌വര്‍ക്ക് കണക്ഷനുകള്‍
Name[mr]=%VMNAME%: जाळं जुळवणी
Name[nb]=%VMNAME%: Nettverkstilkoblinger
Name[nl]=%VMNAME%: Netwerkverbindingen
Name[nn]=%VMNAME%: Nettverkstilkoplingar
Name[oc]=%VMNAME%: Connexions ret
Name[or]=%VMNAME%: ନେଟୱର୍କ ସଂଯୋଗଗୁଡ଼ିକ
Name[pa]=%VMNAME%: ਨੈੱਟਵਰਕ ਕੁਨੈਕਸ਼ਨ
Name[pl]=%VMNAME%: Połączenia sieciowe
Name[pt]=%VMNAME%: Ligações de Rede
Name[pt_BR]=%VMNAME%: Conexões de rede
Name[ro]=%VMNAME%: Conexiuni de rețea
Name[ru]=%VMNAME%: Сетевые соединения
Name[sk]=%VMNAME%: Sieťové spojenia
Name[sl]=%VMNAME%: Omrežne povezave
Name[sr]=%VMNAME%: Везе са мрежом
Name[sr@latin]=%VMNAME%: Veze sa mrežom
Name[sv]=%VMNAME%: Nätverksanslutningar
Name[ta]=%VMNAME%: பிணைய இணைப்புகள்
Name[te]=%VMNAME%: నెట్వర్కు అనుసంధానములు
Name[zh_CN]=%VMNAME%: 网络连接
Name[zh_HK]=%VMNAME%: 網絡連線
Name[zh_TW]=%VMNAME%: 網路連線
Comment=Manage and change your network connection settings
Comment[ar]=أدِر وغيّر إعدادات الاتصالات الشبكية
Comment[as]=আপোনাৰ নে'টৱৰ্ক সংযোগক পৰিচালনা আৰু সলনি কৰক
Comment[be]=Кіраваць і зьмяняць настаўленьні сеткавых далучэньняў
Comment[be@latin]=Kiruj i źmianiaj nałady sietkavych spałučeńniaŭ
Comment[bg]=Управление и промяна на настройките на вашата мрежа
Comment[bn_IN]=আপনার নেটওয়ার্ক সংযোগ বৈশিষ্ট্য সম্পাদন ও পরিবর্তন করুন
Comment[ca]=Gestioneu i modifiqueu els paràmetres de connexió a la xarxa
Comment[crh]=Şebeke bağlantısı tesbitleriñizni idare etiñiz ve değiştiriñiz
Comment[cs]=Spravovat a měnit nastavení připojení k síti
Comment[da]=Håndter og ændr din opsætning af netværksforbindelser
Comment[de]=Einstellungen für Verbindungen mit Netzwerken verwalten
Comment[el]=Διαχείριση και αλλαγή ρυθμίσεων των συνδέσεων δικτύου
Comment[es]=Gestione y cambie sus ajustes de la conexión de red
Comment[et]=Halda ja muuda võrguühenduse sätteid
Comment[eu]=Kudeatu eta aldatu sareko konexioen ezarpenak
Comment[fi]=Hallitse ja muuta verkkoyhteyksien asetuksia
Comment[fr]=Gérer et modifier les paramètres des connexions réseau
Comment[gl]=Xestione e cambie as súas configuracións de conexión de rede
Comment[gu]=તમારા નેટવર્ક જોડાણ સુયોજનોને બદલો અને સંચાલિત કરો
Comment[he]=נהל ושנה את הגדרות חיבורי הרשת שלך
Comment[hu]=Hálózati kapcsolatok beállításainak kezelése és módosítása
Comment[id]=Kelola dan ubah tatanan sambungan jaringan Anda
Comment[it]=Gestisce e cambia le impostazioni della connessione di rete
Comment[kn]=ನಿಮ್ಮ ಜಾಲಬಂಧ ಸಂಪರ್ಕಗಳನ್ನು ನಿರ್ವಹಿಸಿ ಹಾಗು ಬದಲಾಯಿಸಿ
Comment[lt]=Tvarkykite ir keiskite savo tinklo ryšių parametrus
Comment[ml]=നിങ്ങളുടെ നെറ്റ്‌വര്‍ക്ക് കണക്ഷന്‍ സജ്ജീകരണങ്ങള്‍ കൈകാര്യം ചെയ്യുകയും മാറ്റങ്ങള്‍ വരുത്തുകയും ചെയ്യുക.
Comment[mr]=जाळं संयोजना व्यवस्थापीत करा व बदला
Comment[nb]=Håndter og endre innstillinger for nettverksforbindelser
Comment[or]=ଆପଣଙ୍କର ନେଟୱର୍କ ସଂଯୋଗ ସଂରଚନାକୁ ପରିଚାଳନା କରନ୍ତୁ ଏବଂ ପରିବର୍ତ୍ତନ କରନ୍ତୁ
Comment[pa]=ਆਪਣੀ ਨੈੱਟਵਰਕ ਕੁਨੈਕਸ਼ਨ ਸੈਟਿੰਗ ਦਾ ਪਰਬੰਧ ਕਰੋ ਅਤੇ ਬਦਲੋ
Comment[pl]=Zarządzanie ustawieniami połączeń sieciowych
Comment[pt]=Gerir e alterar as suas definições da ligação de rede
Comment[pt_BR]=Gerencie e altere suas configurações de conexão de rede
Comment[ro]=Administrați și modificați opțiunile conexiunilor de rețea
Comment[ru]=Управление параметрами сетевых соединений
Comment[sl]=Upravljanje in spreminjanje nastavitev omrežne povezave
Comment[sr]=Управљајте и измените подешавања ваших мрежних веза
Comment[sr@latin]=Upravljajte i izmenite podešavanja vaših mrežnih veza
Comment[sv]=Hantera och ändra inställningar för dina nätverksanslutningar
Comment[ta]=உங்களின் பிணைய இணைப்பு அமைவுகளை மேலாண்மை மற்றும் மாற்றவும்
Comment[te]=మీ నెట్వర్కు అనుసంధానము అమర్పులను నిర్వహించండి మరియు మార్చండి
Comment[zh_CN]=管理或更改您的网络连接设置
Comment[zh_HK]=管理與更改你的連線設定值
Comment[zh_TW]=管理與變更您的連線設定值
Icon=%VMDIR%/icon.png
Exec=qvm-run -q --tray -a --user=root %VMNAME% "nm-connection-editor"
Terminal=false
Type=Application
Categories=Settings;
X-Qubes-VmName=%VMNAME%
