
[Desktop Entry]
Name=%VMNAME%: Services
Name[ar]=%VMNAME%: الخدمات
Name[as]=%VMNAME%: সেৱাসমূহ
Name[bg]=%VMNAME%: Услуги
Name[bn]=%VMNAME%: পরিসেবা
Name[bn_IN]=%VMNAME%: পরিসেবা
Name[bs]=%VMNAME%: Usluge
Name[ca]=%VMNAME%: Serveis
Name[cs]=%VMNAME%: Služby
Name[cy]=%VMNAME%: Gwasanaethau
Name[da]=%VMNAME%: Tjenester
Name[de]=%VMNAME%: Dienste
Name[el]=%VMNAME%: Υπηρεσίες
Name[en_GB]=%VMNAME%: Services
Name[es]=%VMNAME%: Servicios
Name[et]=%VMNAME%: Teenused
Name[fa]=%VMNAME%: خدمات
Name[fi]=%VMNAME%: Palvelut
Name[fr]=%VMNAME%: Services
Name[gu]=%VMNAME%: સેવાઓ
Name[hi]=%VMNAME%: सेवायें
Name[hr]=%VMNAME%: Usluge
Name[hu]=%VMNAME%: Szolgáltatások
Name[id]=%VMNAME%: Layanan
Name[is]=%VMNAME%: Þjónustur
Name[it]=%VMNAME%: Servizi
Name[ja]=%VMNAME%: サービス
Name[ka]=%VMNAME%: სერვისები
Name[kn]=%VMNAME%: ಸೇವೆಗಳು
Name[ko]=%VMNAME%: 서비스
Name[lt]=%VMNAME%: Tarnybos
Name[lv]=%VMNAME%: Servisi
Name[mai]=%VMNAME%: सेवा
Name[mk]=%VMNAME%: Сервиси
Name[ml]=%VMNAME%: സേവനങ്ങള്‍
Name[mr]=%VMNAME%: सेवा
Name[ms]=%VMNAME%: Perkhidmatan
Name[nb]=%VMNAME%: Tjenester
Name[nl]=%VMNAME%: Services
Name[or]=%VMNAME%: ସେବା
Name[pa]=%VMNAME%: ਸਰਵਿਸਾਂ
Name[pl]=%VMNAME%: Usługi
Name[pt]=%VMNAME%: Serviços
Name[pt_BR]=%VMNAME%: Serviços
Name[ro]=%VMNAME%: Servicii
Name[ru]=%VMNAME%: Службы
Name[si]=%VMNAME%: සේවාවන්
Name[sk]=%VMNAME%: Služby
Name[sl]=%VMNAME%: Storitve
Name[sr]=%VMNAME%: Сервиси
Name[sr@latin]=%VMNAME%: Servisi
Name[sv]=%VMNAME%: Tjänster
Name[ta]=%VMNAME%: சேவைகள்
Name[te]=%VMNAME%: సేవలు
Name[tr]=%VMNAME%: Servisler
Name[uk]=%VMNAME%: Служби
Name[vi]=%VMNAME%: Dịch vụ
Name[zh_CN]=%VMNAME%: 服务
Name[zh_TW]=%VMNAME%: 服務
GenericName=%VMNAME%: Service Management
GenericName[ar]=%VMNAME%: إدارة الخدمة
GenericName[as]=%VMNAME%: সেৱাৰ পৰিচালনা
GenericName[bg]=%VMNAME%: Мениджмънт на услугите
GenericName[bn_IN]=%VMNAME%: পরিসেবা পরিচালনা
GenericName[bs]=%VMNAME%: Upravljanje uslugom
GenericName[ca]=%VMNAME%: Gestió de serveis
GenericName[cs]=%VMNAME%: Správa služeb
GenericName[da]=%VMNAME%: Administration af tjenester
GenericName[de]=%VMNAME%: Dienst-Verwaltung
GenericName[el]=%VMNAME%: Διαχείριση υπηρεσιών
GenericName[en_GB]=%VMNAME%: Service Management
GenericName[es]=%VMNAME%: Administración de Servicios
GenericName[et]=%VMNAME%: Teenusehaldur
GenericName[fi]=%VMNAME%: Palvelujen hallinta
GenericName[fr]=%VMNAME%: Gestion des services
GenericName[gu]=%VMNAME%: સેવા વ્યવસ્થાપન
GenericName[hi]=%VMNAME%: सेवा प्रबंधन
GenericName[hr]=%VMNAME%: Upravljanje uslugom
GenericName[hu]=%VMNAME%: Szolgáltatás igazgatás
GenericName[id]=%VMNAME%: Pengelolaan Layanan: 
GenericName[is]=%VMNAME%: þjónustustýring
GenericName[it]=%VMNAME%: Gestione dei servizi
GenericName[ja]=%VMNAME%: サービス管理
GenericName[ka]=%VMNAME%: სერვისების მართვა
GenericName[kn]=%VMNAME%: ಸೇವೆಯ ನಿರ್ವಹಣೆ
GenericName[ko]=%VMNAME%: 서비스 관리
GenericName[lv]=%VMNAME%: Servisu vadība
GenericName[mai]=%VMNAME%: सेवा प्रबंधन
GenericName[mk]=%VMNAME%: Менаџмент на сервиси
GenericName[ml]=%VMNAME%: സര്‍വീസ് മാനേജ്മെന്റ്
GenericName[mr]=%VMNAME%: सेवा व्यवस्थापन
GenericName[ms]=%VMNAME%: Pengurusan Servis
GenericName[nb]=%VMNAME%: Håndtering av tjenester
GenericName[nl]=%VMNAME%: Service Beheer
GenericName[or]=%VMNAME%: ସେବା ପରିଚାଳନ
GenericName[pa]=%VMNAME%: ਸੇਵਾ ਪਰਬੰਧ
GenericName[pl]=%VMNAME%: Zarządzanie usługami
GenericName[pt]=%VMNAME%: Gestão de Serviços
GenericName[pt_BR]=%VMNAME%: Gerenciamento do serviço
GenericName[ro]=%VMNAME%: Management serviciu
GenericName[ru]=%VMNAME%: Управление службами
GenericName[si]=%VMNAME%: සේවා කළමණාකරනය
GenericName[sk]=%VMNAME%: Správa služieb
GenericName[sr]=%VMNAME%: Управљање сервисима
GenericName[sr@latin]=%VMNAME%: Upravljanje servisima
GenericName[sv]=%VMNAME%: Tjänsthantering
GenericName[ta]=%VMNAME%: சேவை மேலாண்மை
GenericName[te]=%VMNAME%: సేవల నిర్వహణ
GenericName[tr]=%VMNAME%: Servis Yönetimi
GenericName[uk]=%VMNAME%: Керування службами
GenericName[zh_CN]=%VMNAME%: 服务程序管理：
GenericName[zh_TW]=%VMNAME%: 服務管理
Comment=Configure which services will be running when the system starts
Comment[ar]=تهيئة الخدمات التي سوف تعمل عند بدء النظام
Comment[as]=ব্যৱস্থাপ্ৰণালী আৰম্ভ হওঁতে চলিব লগীয়া সেৱা বিন্যাস কৰক
Comment[bg]=Избор на услуги които да работят при стартиране на системата
Comment[bn_IN]=সিস্টেম আরম্ভের সময় সক্রিয় পরিসেবাগুলি কনফিগার করুন
Comment[bs]=Konfiguriranje usluga koje će biti pokrenute tijekom pokretanja sistema
Comment[ca]=Configureu quins serveis s'executaran quan el sistema s'iniciï
Comment[cs]=Nastavit, jaké služby budou při startu systému spuštěny
Comment[da]=Konfigurér hvilke tjenester der skal køre når systemet startes
Comment[de]=Konfigurieren der Dienste, die beim Starten des Systems ausgeführt werden
Comment[el]=Ρυθμίστε ποιες υπηρεσίες επιθυμείτε να τρέχουν κατά την εκκίνηση του συστήματος
Comment[en_GB]=Configure which services will be running when the system starts
Comment[es]=Configurar qué servicios se ejecutarán cuando se inicie el sistema 
Comment[et]=Määratakse teenused, millised käivitatakse süsteemi käivitamisel
Comment[fi]=Aseta mitkä palvelut ovat käytössä järjestelmän käynnistyessä
Comment[fr]=Configure quels services seront lancés au démarrage du système
Comment[gu]=જ્યારે સિસ્ટમ શરૂ થાય ત્યારે કઈ સેવાઓ ચાલી રહી હશે તે રૂપરેખાંકિત કરો
Comment[hi]=विन्यस्त करें कि कौन सी सेवा चल रही है जब सिस्टम आरंभ होता है
Comment[hr]=Konfiguriranje usluga koje će biti pokrenute tijekom pokretanja sustava
Comment[hu]=Annak beállítása, hogy mely szolgáltatások fussanak a rendszer indításakor
Comment[id]=Tentukan layanan mana yang akan berjalan ketika sistem mulai
Comment[is]=Stilla hvaða þjónustur eru gangsettar við ræsingu
Comment[it]=Configura quali servizi verranno avviati all'avvio del sistema
Comment[ja]=システムの起動時に実行するサービスを設定します
Comment[ka]=აირჩიეთ სერვისები, რომლებიც გაიშვებს სისტემის ჩართვისას
Comment[kn]=ವ್ಯವಸ್ಥೆ ಪ್ರಾರಂಭಗೊಂಡಾಗ ಯಾವ ಯಾವ ಸೇವೆಗಳು ಚಾಲನೆಯಲ್ಲಿರ ಬೇಕು ಎಂಬುದನ್ನು ರೂಪಿಸಿ
Comment[ko]=시스템을 시작할 때 실행되는 서비스 설정
Comment[lv]=Konfigurēt servisus, kas tiks startēti sistēmas starta laikā
Comment[mai]=विन्यस्त करू जे कओन सी सेवा चलि रही अछि जखन सिस्टम आरंभ  हाएत  अछि
Comment[mk]=Конфигурирајте кои сервиси да се подигнуваат заедно со системот
Comment[ml]=സിസ്റ്റം ആരംഭിക്കുമ്പോള്‍ ഏതെല്ലാം സേവനങ്ങള്‍ പ്രവര്‍ത്തിക്കണം എന്നതു് ക്രമീകരിക്കുക
Comment[mr]=प्रणाली सुरू होताना कोणत्या सेवा सुरू होतील हे व्यूहरचित करा
Comment[ms]=Tetapkan servis mana yang akan dilaksanakan ketika sistem bermula
Comment[nb]=Bestem hvilke tjenester som skal kjøre når systemet starter
Comment[nl]=Configureer welke service actief zal zijn wanneer het systeem start
Comment[or]=ତନ୍ତ୍ର ପ୍ରାରମ୍ଭ ହେଲେ କେଉଁ ସେବା ପ୍ରାରମ୍ଭ ହେବ ତାହାକୁ ବିନ୍ଯାସ କରନ୍ତୁ
Comment[pa]=ਸੰਰਚਨਾ ਕਰੋ ਕਿ ਕਿੰਨਾ ਸੇਵਾਵਾਂ ਨੂੰ ਸਿਸਟਮ ਸ਼ੁਰੂ ਹੋਣ ਸਮੇਂ ਚਾਲੂ ਕੀਤਾ ਜਾਵੇਗਾ
Comment[pl]=Konfiguracja usług uruchamianych podczas startu systemu
Comment[pt]=Configure que serviços se executam quando o sistema é iniciado
Comment[pt_BR]=Configure quais serviços serão executados quando o sistema for iniciado
Comment[ro]=Configuraţi ce servicii rulează la pornirea sistemului.
Comment[ru]=Настройка списка служб, запускаемых при старте системы
Comment[si]=පද්ධතිය ආරම්භයේදී ක්‍රියාත්මකව පැවතිය යුතු සේවාවන් මානකරන්න
Comment[sk]=Nastaviť, ktoré služby budú spustené pri štarte systému
Comment[sr]=Подешава који ће се сервиси извршавати када се систем покрене
Comment[sr@latin]=Podešava koji će se servisi izvršavati kada se sistem pokrene
Comment[sv]=Konfigurera vilka tjänster som kommer att köras då systemet startar
Comment[ta]=கணினியை துவக்கும் போது எந்த சேவைகள் இயங்க வேண்டும் என கட்டமைக்கவும்
Comment[te]=కంప్యూటరు ప్రారంభమయ్యినప్పుడు ఏ సేవలను ఉపయోగించాలో ఆకృతీకరించండి
Comment[tr]=Sisteminiz açıldığında hangi servislerin çalışmaya başlayacağını yapılandırınız.
Comment[uk]=Налаштовування списку служб, що запускаються при старті системи
Comment[zh_CN]=设置系统启动时所要运行的服务程序
Comment[zh_TW]=設定當系統啟動時，要執行哪些服務
Icon=%VMDIR%/icon.png
Exec=qvm-run -q --tray -a --user=root %VMNAME% "/usr/bin/system-config-services"
Type=Application
Terminal=false
Encoding=UTF-8
Categories=System;Settings;X-Red-Hat-Base;
X-Desktop-File-Install-Version=0.15
X-Qubes-VmName=%VMNAME%
