
[Desktop Entry]
Name=Services
Name[ar]=الخدمات
Name[as]=সেৱাসমূহ
Name[bg]=Услуги
Name[bn]=পরিসেবা
Name[bn_IN]=পরিসেবা
Name[bs]=Usluge
Name[ca]=Serveis
Name[cs]=Služby
Name[cy]=Gwasanaethau
Name[da]=Tjenester
Name[de]=Dienste
Name[el]=Υπηρεσίες
Name[en_GB]=Services
Name[es]=Servicios
Name[et]=Teenused
Name[fa]=خدمات
Name[fi]=Palvelut
Name[fr]=Services
Name[gu]=સેવાઓ
Name[hi]=सेवायें
Name[hr]=Usluge
Name[hu]=Szolgáltatások
Name[id]=Layanan
Name[is]=Þjónustur
Name[it]=Servizi
Name[ja]=サービス
Name[ka]=სერვისები
Name[kn]=ಸೇವೆಗಳು
Name[ko]=서비스
Name[lt]=Tarnybos
Name[lv]=Servisi
Name[mai]=सेवा
Name[mk]=Сервиси
Name[ml]=സേവനങ്ങള്‍
Name[mr]=सेवा
Name[ms]=Perkhidmatan
Name[nb]=Tjenester
Name[nl]=Services
Name[or]=ସେବା
Name[pa]=ਸਰਵਿਸਾਂ
Name[pl]=Usługi
Name[pt]=Serviços
Name[pt_BR]=Serviços
Name[ro]=Servicii
Name[ru]=Службы
Name[si]=සේවාවන්
Name[sk]=Služby
Name[sl]=Storitve
Name[sr]=Сервиси
Name[sr@latin]=Servisi
Name[sv]=Tjänster
Name[ta]=சேவைகள்
Name[te]=సేవలు
Name[tr]=Servisler
Name[uk]=Служби
Name[vi]=Dịch vụ
Name[zh_CN]=服务
Name[zh_TW]=服務
GenericName=Service Management
GenericName[ar]=إدارة الخدمة
GenericName[as]=সেৱাৰ পৰিচালনা
GenericName[bg]=Мениджмънт на услугите
GenericName[bn_IN]=পরিসেবা পরিচালনা
GenericName[bs]=Upravljanje uslugom
GenericName[ca]=Gestió de serveis
GenericName[cs]=Správa služeb
GenericName[da]=Administration af tjenester
GenericName[de]=Dienst-Verwaltung
GenericName[el]=Διαχείριση υπηρεσιών
GenericName[en_GB]=Service Management
GenericName[es]=Administración de Servicios
GenericName[et]=Teenusehaldur
GenericName[fi]=Palvelujen hallinta
GenericName[fr]=Gestion des services
GenericName[gu]=સેવા વ્યવસ્થાપન
GenericName[hi]=सेवा प्रबंधन
GenericName[hr]=Upravljanje uslugom
GenericName[hu]=Szolgáltatás igazgatás
GenericName[id]=Pengelolaan Layanan: 
GenericName[is]=þjónustustýring
GenericName[it]=Gestione dei servizi
GenericName[ja]=サービス管理
GenericName[ka]=სერვისების მართვა
GenericName[kn]=ಸೇವೆಯ ನಿರ್ವಹಣೆ
GenericName[ko]=서비스 관리
GenericName[lv]=Servisu vadība
GenericName[mai]=सेवा प्रबंधन
GenericName[mk]=Менаџмент на сервиси
GenericName[ml]=സര്‍വീസ് മാനേജ്മെന്റ്
GenericName[mr]=सेवा व्यवस्थापन
GenericName[ms]=Pengurusan Servis
GenericName[nb]=Håndtering av tjenester
GenericName[nl]=Service Beheer
GenericName[or]=ସେବା ପରିଚାଳନ
GenericName[pa]=ਸੇਵਾ ਪਰਬੰਧ
GenericName[pl]=Zarządzanie usługami
GenericName[pt]=Gestão de Serviços
GenericName[pt_BR]=Gerenciamento do serviço
GenericName[ro]=Management serviciu
GenericName[ru]=Управление службами
GenericName[si]=සේවා කළමණාකරනය
GenericName[sk]=Správa služieb
GenericName[sr]=Управљање сервисима
GenericName[sr@latin]=Upravljanje servisima
GenericName[sv]=Tjänsthantering
GenericName[ta]=சேவை மேலாண்மை
GenericName[te]=సేవల నిర్వహణ
GenericName[tr]=Servis Yönetimi
GenericName[uk]=Керування службами
GenericName[zh_CN]=服务程序管理：
GenericName[zh_TW]=服務管理
Comment=Configure which services will be running when the system starts
Comment[ar]=تهيئة الخدمات التي سوف تعمل عند بدء النظام
Comment[as]=ব্যৱস্থাপ্ৰণালী আৰম্ভ হওঁতে চলিব লগীয়া সেৱা বিন্যাস কৰক
Comment[bg]=Избор на услуги които да работят при стартиране на системата
Comment[bn_IN]=সিস্টেম আরম্ভের সময় সক্রিয় পরিসেবাগুলি কনফিগার করুন
Comment[bs]=Konfiguriranje usluga koje će biti pokrenute tijekom pokretanja sistema
Comment[ca]=Configureu quins serveis s'executaran quan el sistema s'iniciï
Comment[cs]=Nastavit, jaké služby budou při startu systému spuštěny
Comment[da]=Konfigurér hvilke tjenester der skal køre når systemet startes
Comment[de]=Konfigurieren der Dienste, die beim Starten des Systems ausgeführt werden
Comment[el]=Ρυθμίστε ποιες υπηρεσίες επιθυμείτε να τρέχουν κατά την εκκίνηση του συστήματος
Comment[en_GB]=Configure which services will be running when the system starts
Comment[es]=Configurar qué servicios se ejecutarán cuando se inicie el sistema 
Comment[et]=Määratakse teenused, millised käivitatakse süsteemi käivitamisel
Comment[fi]=Aseta mitkä palvelut ovat käytössä järjestelmän käynnistyessä
Comment[fr]=Configure quels services seront lancés au démarrage du système
Comment[gu]=જ્યારે સિસ્ટમ શરૂ થાય ત્યારે કઈ સેવાઓ ચાલી રહી હશે તે રૂપરેખાંકિત કરો
Comment[hi]=विन्यस्त करें कि कौन सी सेवा चल रही है जब सिस्टम आरंभ होता है
Comment[hr]=Konfiguriranje usluga koje će biti pokrenute tijekom pokretanja sustava
Comment[hu]=Annak beállítása, hogy mely szolgáltatások fussanak a rendszer indításakor
Comment[id]=Tentukan layanan mana yang akan berjalan ketika sistem mulai
Comment[is]=Stilla hvaða þjónustur eru gangsettar við ræsingu
Comment[it]=Configura quali servizi verranno avviati all'avvio del sistema
Comment[ja]=システムの起動時に実行するサービスを設定します
Comment[ka]=აირჩიეთ სერვისები, რომლებიც გაიშვებს სისტემის ჩართვისას
Comment[kn]=ವ್ಯವಸ್ಥೆ ಪ್ರಾರಂಭಗೊಂಡಾಗ ಯಾವ ಯಾವ ಸೇವೆಗಳು ಚಾಲನೆಯಲ್ಲಿರ ಬೇಕು ಎಂಬುದನ್ನು ರೂಪಿಸಿ
Comment[ko]=시스템을 시작할 때 실행되는 서비스 설정
Comment[lv]=Konfigurēt servisus, kas tiks startēti sistēmas starta laikā
Comment[mai]=विन्यस्त करू जे कओन सी सेवा चलि रही अछि जखन सिस्टम आरंभ  हाएत  अछि
Comment[mk]=Конфигурирајте кои сервиси да се подигнуваат заедно со системот
Comment[ml]=സിസ്റ്റം ആരംഭിക്കുമ്പോള്‍ ഏതെല്ലാം സേവനങ്ങള്‍ പ്രവര്‍ത്തിക്കണം എന്നതു് ക്രമീകരിക്കുക
Comment[mr]=प्रणाली सुरू होताना कोणत्या सेवा सुरू होतील हे व्यूहरचित करा
Comment[ms]=Tetapkan servis mana yang akan dilaksanakan ketika sistem bermula
Comment[nb]=Bestem hvilke tjenester som skal kjøre når systemet starter
Comment[nl]=Configureer welke service actief zal zijn wanneer het systeem start
Comment[or]=ତନ୍ତ୍ର ପ୍ରାରମ୍ଭ ହେଲେ କେଉଁ ସେବା ପ୍ରାରମ୍ଭ ହେବ ତାହାକୁ ବିନ୍ଯାସ କରନ୍ତୁ
Comment[pa]=ਸੰਰਚਨਾ ਕਰੋ ਕਿ ਕਿੰਨਾ ਸੇਵਾਵਾਂ ਨੂੰ ਸਿਸਟਮ ਸ਼ੁਰੂ ਹੋਣ ਸਮੇਂ ਚਾਲੂ ਕੀਤਾ ਜਾਵੇਗਾ
Comment[pl]=Konfiguracja usług uruchamianych podczas startu systemu
Comment[pt]=Configure que serviços se executam quando o sistema é iniciado
Comment[pt_BR]=Configure quais serviços serão executados quando o sistema for iniciado
Comment[ro]=Configuraţi ce servicii rulează la pornirea sistemului.
Comment[ru]=Настройка списка служб, запускаемых при старте системы
Comment[si]=පද්ධතිය ආරම්භයේදී ක්‍රියාත්මකව පැවතිය යුතු සේවාවන් මානකරන්න
Comment[sk]=Nastaviť, ktoré služby budú spustené pri štarte systému
Comment[sr]=Подешава који ће се сервиси извршавати када се систем покрене
Comment[sr@latin]=Podešava koji će se servisi izvršavati kada se sistem pokrene
Comment[sv]=Konfigurera vilka tjänster som kommer att köras då systemet startar
Comment[ta]=கணினியை துவக்கும் போது எந்த சேவைகள் இயங்க வேண்டும் என கட்டமைக்கவும்
Comment[te]=కంప్యూటరు ప్రారంభమయ్యినప్పుడు ఏ సేవలను ఉపయోగించాలో ఆకృతీకరించండి
Comment[tr]=Sisteminiz açıldığında hangi servislerin çalışmaya başlayacağını yapılandırınız.
Comment[uk]=Налаштовування списку служб, що запускаються при старті системи
Comment[zh_CN]=设置系统启动时所要运行的服务程序
Comment[zh_TW]=設定當系統啟動時，要執行哪些服務
StartupNotify=true
Icon=system-config-services.png
Exec=/usr/bin/system-config-services
Type=Application
Terminal=false
Encoding=UTF-8
Categories=System;Settings;X-Red-Hat-Base;
X-Desktop-File-Install-Version=0.15
