
[Desktop Entry]
Name=Firewall
Name[as]=ফায়াৰ্ৱাল
Name[bg]=Защитна стена
Name[bn_IN]=ফায়ারওয়াল
Name[ca]=Tallafoc
Name[cs]=Firewall
Name[da]=Firewall
Name[de]=Firewall
Name[el]=Firewall
Name[es]=Cortafuego
Name[fi]=Palomuuri
Name[fr]=Pare-feu
Name[gu]=ફાયરવોલ
Name[he]=חומת אש
Name[hi]=फायरवाल
Name[hr]=Vatrozid
Name[hu]=Tűzfal
Name[id]=Firewall
Name[is]=Eldveggur
Name[it]=Firewall
Name[ja]=ファイアーウォール
Name[ka]=ქსელური ფარი
Name[kn]=ಫೈರ್ವಾಲ್
Name[ko]=방화벽
Name[lv]=Ugunssiena
Name[mai]=फायरवाल
Name[ml]=ഫയര്‍വോള്‍
Name[mr]=फायरवॉल
Name[ms]=Firewall
Name[nb]=Brannmur
Name[nl]=Firewall
Name[or]=ଅଗ୍ନିକବଚ
Name[pa]=ਫਾਇਰਵਾਲ
Name[pl]=Zapora sieciowa
Name[pt]=Firewall
Name[pt_BR]=Firewall
Name[ro]=Paravan de protecție
Name[ru]=Межсетевой экран
Name[si]=ගිනිපවුර (ෆයර්වෝල්)
Name[sk]=Firewall
Name[sr]=Заштитни зид
Name[sr@latin]=Zaštitni zid
Name[sv]=Brandvägg
Name[ta]=ஃபயர்வால்
Name[te]=ఫైర్‌వాల్
Name[uk]=Мережний екран
Name[zh_CN]=防火墙
Name[zh_TW]=防火牆
Comment=Firewall Configuration
Comment[ar]=تهيئة الجدار النّاري
Comment[as]=ফায়াৰ্ৱাল বিন্যাস
Comment[bg]=Настройка на защитната стена
Comment[bn]=ফায়ারওয়াল কনফিগারেশন
Comment[bn_IN]=ফায়ারওয়াল কনফিগারেশন
Comment[ca]=Configuració del tallafoc
Comment[cs]=Nastavení firewallu
Comment[cy]=Cyfluniad Mur Cadarn
Comment[da]=Konfiguration af firewall
Comment[de]=Firewall-Konfiguration
Comment[el]=Ρύθμιση Firewall
Comment[es]=Configuración del cortafuegos
Comment[et]=Tulemüüri seaded
Comment[fa]=پیکربندی دیوارآتش
Comment[fi]=Palomuuriasetukset
Comment[fr]=Configuration du pare-feu
Comment[gu]=ફાયરવોલ રુપરેખાંકન
Comment[he]=הגדרת חומת האש
Comment[hi]=फायरवाल विन्यास 
Comment[hr]=Konfiguracija vatrozida
Comment[hu]=Tűzfalbeállítások
Comment[id]=Konfigurasi Firewall
Comment[is]=Stillingar eldveggs
Comment[it]=Configurazione del Firewall
Comment[ja]=ファイアーウォールの設定
Comment[ka]=ქსელური ფარის კონფიგურაცია
Comment[kn]=ಫೈರ್ವಾಲ್ ಸ್ವರೂಪಣೆ
Comment[ko]=방화벽 설정
Comment[lt]=Ugniasienės nustatymai
Comment[mai]=फायरवाल विन्यास 
Comment[mk]=Конфигурација на огненг ѕид
Comment[ml]=ഫയര്‍വോള്‍ ക്രമീകരണം
Comment[mr]=फायरवॉल संयोजना
Comment[ms]=Tentutetap Firewall
Comment[nb]=Konfigurasjon av brannmur
Comment[nl]=Firewallconfiguratie
Comment[or]=ଅଗ୍ନିକବଚର ବିନ୍ଯାସ
Comment[pa]=ਫਾਇਰਵਾਲ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja zapory sieciowej
Comment[pt]=Configuração da Firewall
Comment[pt_BR]=Configuração do Firewall
Comment[ro]=Configurare paravan de protecție
Comment[ru]=Настройка межсетевого экрана
Comment[si]=ෆයර්වෝල් මානකරණය
Comment[sk]=Nastavenia firewallu
Comment[sl]=Nastavitev požarnega zidu
Comment[sr]=Подешавање заштитног зида
Comment[sr@latin]=Podešavanje zaštitnog zida
Comment[sv]=Brandväggskonfiguration
Comment[ta]=ஃபயர்வால் கட்டமைப்பு
Comment[te]=Firewall ఆకృతీకరణ
Comment[tr]=Güvenlik Duvarı Yapılandırması
Comment[uk]=Налаштовування мережного екрану
Comment[vi]=Cấu hình Tường lửa
Comment[zh_CN]=防火墙配置
Comment[zh_TW]=防火牆設定
Icon=preferences-system-firewall
Categories=System;Settings;Security;
Exec=/usr/bin/system-config-firewall
Type=Application
StartupNotify=true
Terminal=false
X-Desktop-File-Install-Version=0.15
