
[Desktop Entry]
Name=%VMNAME%: Software Sources
Name[ar]=%VMNAME%: مصادر البرمجيات
Name[as]=%VMNAME%: চালনাজ্ঞানৰ উৎসস্থল
Name[bg]=%VMNAME%: Хранилища
Name[bn]=%VMNAME%: সফ্টওয়্যারের উৎসস্থল
Name[bn_IN]=%VMNAME%: সফ্টওয়্যারের উৎসস্থল
Name[ca]=%VMNAME%: Fonts de programari
Name[ca@valencia]=%VMNAME%: Fonts de programari
Name[cs]=%VMNAME%: Zdroje softwaru
Name[da]=%VMNAME%: Softwarekilder
Name[de]=%VMNAME%: Softwarequellen
Name[el]=%VMNAME%: Πηγές λογισμικού
Name[en@shaw]=%VMNAME%: 𐑕𐑪𐑓𐑑𐑢𐑺 𐑕𐑹𐑕𐑩𐑟
Name[en_GB]=%VMNAME%: Software Sources
Name[es]=%VMNAME%: Repositorios de software
Name[et]=%VMNAME%: Tarkvaraallikad
Name[fi]=%VMNAME%: Ohjelmistolähteet
Name[fr]=%VMNAME%: Sources des logiciels
Name[gl]=%VMNAME%: Fontes de software
Name[gu]=%VMNAME%: સોફ્ટવેર સ્ત્રોતો
Name[he]=%VMNAME%: מקורות תכנה
Name[hi]=%VMNAME%: सॉफ्टवेयर स्रोत
Name[hu]=%VMNAME%: Szoftverforrások
Name[id]=%VMNAME%: Sumber Perangkat Lunak
Name[it]=%VMNAME%: Sorgenti software
Name[ja]=%VMNAME%: ソフトウェアリポジトリ
Name[kn]=%VMNAME%: ತಂತ್ರಾಂಶ ಆಕರಗಳು
Name[lt]=%VMNAME%: Programinės įrangos šaltiniai
Name[lv]=%VMNAME%: Programmatūras avoti
Name[ml]=%VMNAME%: സോഫ്റ്റ്‌വെയര്‍ ശ്രോതസ്സുകള്‍
Name[mr]=%VMNAME%: सॉफ्टवेअर स्त्रोत
Name[ms]=%VMNAME%: Sumber Perisian
Name[nb]=%VMNAME%: Programvarekilder
Name[or]=%VMNAME%: ସଫ୍ଟୱେର ଉତ୍ସଗୁଡ଼ିକ
Name[pa]=%VMNAME%: ਸਾਫਟਵੇਅਰ ਸਰੋਤ
Name[pl]=%VMNAME%: Źródła oprogramowania
Name[pt]=%VMNAME%: Fontes de Aplicações
Name[pt_BR]=%VMNAME%: Fontes de programas
Name[ro]=%VMNAME%: Surse de programe
Name[ru]=%VMNAME%: Источники программ
Name[sk]=%VMNAME%: Zdroje softvéru
Name[sl]=%VMNAME%: Viri programske opreme
Name[sr]=%VMNAME%: Извори програма
Name[sr@latin]=%VMNAME%: Izvori programa
Name[sv]=%VMNAME%: Programkällor
Name[ta]=%VMNAME%: மென்பொருள் மூலங்கள்
Name[te]=%VMNAME%: సాఫ్ట్‍‌వేర్ మూలాలు
Name[tr]=%VMNAME%: Yazılım Kaynakları
Name[uk]=%VMNAME%: Джерела програм
Name[zh_CN]=%VMNAME%: 软件源
Name[zh_HK]=%VMNAME%: 軟件來源
Name[zh_TW]=%VMNAME%: 軟體來源
Comment=Enable or disable software sources
Comment[ar]=فعّل أو عطل مصادر البرمجيات
Comment[as]=চালনাজ্ঞানৰ উৎসস্থল সক্ৰিয় বা নিষ্ক্ৰিয় কৰক
Comment[bg]=Управление на хранилищата
Comment[bn]=সফ্টওয়্যারের উৎসস্থল সক্রিয় অথবা নিষ্ক্রিয় করুন
Comment[bn_IN]=সফ্টওয়্যারের উৎসস্থল সক্রিয় অথবা নিষ্ক্রিয় করুন
Comment[ca]=Habilita o inhabilita les fonts de programari
Comment[ca@valencia]=Habilita o inhabilita les fonts de programari
Comment[cs]=Povolit nebo zakázat zdroje softwaru
Comment[da]=Aktivér eller deaktivér softwarekilder
Comment[de]=Softwarequellen an- oder abwählen
Comment[el]=Ενεργοποίηση ή απενεργοποίηση πηγών λογισμικού
Comment[en@shaw]=𐑦𐑯𐑱𐑚𐑩𐑤 𐑹 𐑛𐑦𐑕𐑱𐑚𐑩𐑤 𐑕𐑪𐑓𐑑𐑢𐑺 𐑕𐑹𐑕𐑩𐑟
Comment[en_GB]=Enable or disable software sources
Comment[es]=Habilitar o deshabilitar repositorios de software
Comment[fi]=Ota käyttöön tai poista käytöstä ohjelmistolähteitä
Comment[fr]=Activer ou désactiver des sources de logiciels
Comment[gl]=Activar ou desactivar as fontes de software
Comment[gu]=સોફ્ટવેર સ્ત્રોતો ને સક્રિય અથવા નિષ્ક્રિય કરો
Comment[he]=הפעלה או ביטול של מקורות תכנה
Comment[hi]=सॉफ्टवेयर स्रोत सक्रिय अथवा निष्क्रिय करें
Comment[hu]=Szoftverforrás engedélyezése vagy letiltása
Comment[id]=Hidupkan atau matikan sumber perangkat lunak
Comment[it]=Abilita o disabilita le sorgenti software
Comment[ja]=ソフトウェアリポジトリの有効化又は無効化
Comment[kn]=ತಂತ್ರಾಂಶ ಆಕರಗಳನ್ನು ಶಕ್ತಗೊಳಿಸು ಅಥವ ಅಶಕ್ತಗೊಳಿಸು
Comment[lt]=Įjungti arba išjungti programinės įrangos šaltinius
Comment[lv]=Aktivizēt vai deaktivizēt programmatūras avotus
Comment[ml]=സോഫ്റ്റ്‌വെയര്‍ ശ്രോതസ്സുകള്‍ പ്രവര്‍ത്തന സജ്ജം അല്ലെങ്കില്‍ പ്രവര്‍ത്തന രഹിതമാക്കുക
Comment[mr]=सॉफ्टवेअर स्त्रोत कार्यान्वीत किंवा अकार्यान्वीत करा
Comment[nb]=Aktiver eller deaktiver programvarekilder
Comment[or]=ସଫ୍ଟୱେର ଉତ୍ସଗୁଡ଼ିକୁ ସକ୍ରିୟ କିମ୍ବା ନିଷ୍କ୍ରିୟ କରନ୍ତୁ
Comment[pa]=ਸਾਫਟਵੇਅਰ ਸਰੋਤ ਯੋਗ ਜਾਂ ਆਯੋਗ ਕਰੋ
Comment[pl]=Włączanie i wyłączanie źródeł oprogramowania
Comment[pt]=Activar ou desactivar fontes de aplicações
Comment[pt_BR]=Habilite ou desabilite fontes de programas
Comment[ro]=Activează sau dezactivează surse de programe
Comment[ru]=Включить или выключить источники программ
Comment[sl]=Omogočanje in onemogočanje virov programske opreme
Comment[sr]=Омогући или онемогући изворе програма
Comment[sr@latin]=Omogući ili onemogući izvore programa
Comment[sv]=Aktivera eller inaktivera programkällor
Comment[ta]=மென்பொருள் மூலங்களை செயல்படுத்து அல்லது செயல்நீக்கு
Comment[te]=సాఫ్టువేర్ మూలాలను చేతనము లేదా అచేతనము చేయుము
Comment[tr]=Yazılım kaynaklarını aç veya kapa
Comment[uk]=Увімкнення або вимкнення джерела програм
Comment[zh_CN]=启用或禁用软件源
Comment[zh_HK]=啟用或停用軟件來源
Comment[zh_TW]=啟用或停用軟體來源
Icon=gpk-repo
Exec=qvm-run -q --tray -a --user=root %VMNAME% "gpk-repo"
Terminal=false
Type=Application
Categories=GNOME;GTK;System;Settings;

X-Desktop-File-Install-Version=0.16
X-Qubes-VmName=%VMNAME%
Icon=%VMDIR%/icon.png
