
[Desktop Entry]
Encoding=UTF-8
Name=%VMNAME%: Software Update
Name[ar]=%VMNAME%: تحديث البرمجيات
Name[as]=%VMNAME%: চালনাজ্ঞান উন্নয়ন ব্যৱস্থা
Name[bg]=%VMNAME%: Обновление на софтуера
Name[bn]=%VMNAME%: সফ্টওয়্যার হালনাগাদ
Name[bn_IN]=%VMNAME%: সফ্টওয়্যার আপডেট ব্যবস্থা
Name[ca]=%VMNAME%: Actualització de programari
Name[ca@valencia]=%VMNAME%: Actualització de programari
Name[cs]=%VMNAME%: Aktualizace softwaru
Name[da]=%VMNAME%: Softwareopdatering
Name[de]=%VMNAME%: Software-Aktualisierungen
Name[el]=%VMNAME%: Ενημέρωση λογισμικού
Name[en@shaw]=%VMNAME%: 𐑕𐑪𐑓𐑑𐑢𐑺 𐑳𐑐𐑛𐑱𐑑
Name[en_GB]=%VMNAME%: Software Update
Name[es]=%VMNAME%: Actualización de software
Name[et]=%VMNAME%: Tarkvarauuendus
Name[fi]=%VMNAME%: Ohjelmistopäivitykset
Name[fr]=%VMNAME%: Mise à jour des logiciels
Name[gl]=%VMNAME%: Actualización de software
Name[gu]=%VMNAME%: સોફ્ટવેર સુધારા
Name[he]=%VMNAME%: עדכון תוכנה
Name[hi]=%VMNAME%: सॉफ्टवेयर अद्यतन
Name[hu]=%VMNAME%: Szoftverfrissítés
Name[id]=%VMNAME%: Pemutakhiran Perangkat Lunak
Name[it]=%VMNAME%: Aggiornamento software
Name[kn]=%VMNAME%: ತಂತ್ರಾಂಶ ಅಪ್‌ಡೇಟ್‌
Name[lt]=%VMNAME%: Programinės įrangos atnaujinimas
Name[lv]=%VMNAME%: Programmatūras atjaunināšana
Name[mr]=%VMNAME%: सॉफ्टवेअर अद्ययावत
Name[nb]=%VMNAME%: Programvareoppdatering
Name[or]=%VMNAME%: ସଫ୍ଟୱେର ଅଦ୍ୟତନ
Name[pa]=%VMNAME%: ਸਾਫਟਵੇਅਰ ਅੱਪਡੇਟ
Name[pl]=%VMNAME%: Aktualizacja oprogramowania
Name[pt]=%VMNAME%: Actualização de Software
Name[pt_BR]=%VMNAME%: Atualizações de programas
Name[ro]=%VMNAME%: Actualizări de programe
Name[ru]=%VMNAME%: Обновление программ
Name[sl]=%VMNAME%: Posodobitev programske opreme
Name[sr]=%VMNAME%: Ажурирање програма
Name[sr@latin]=%VMNAME%: Ažuriranje programa
Name[sv]=%VMNAME%: Programuppdatering
Name[ta]=%VMNAME%: மென்பொருள் மேம்படுத்தல்
Name[te]=%VMNAME%: సాప్ట్ వేర్ నవీకరణ
Name[uk]=%VMNAME%: Оновлення програм
Name[zh_CN]=%VMNAME%: 软件更新
Name[zh_HK]=%VMNAME%: 軟件更新
Name[zh_TW]=%VMNAME%: 軟體更新
GenericName=%VMNAME%: Software Update Viewer
GenericName[ar]=%VMNAME%: عارِض تحديثات البرمجيات
GenericName[as]=%VMNAME%: চালনাজ্ঞান উন্নয়ন প্ৰদৰ্শনব্যৱস্থা
GenericName[bg]=%VMNAME%: Преглед на софтуерните обновявания
GenericName[bn]=%VMNAME%: সফ্টওয়্যার হালনাগাদ প্রদর্শক
GenericName[bn_IN]=%VMNAME%: সফ্টওয়্যার আপডেট প্রদর্শনব্যবস্থা
GenericName[ca]=%VMNAME%: Visualitzador de les actualitzacions de programari
GenericName[ca@valencia]=%VMNAME%: Visualitzador de les actualitzacions de programari
GenericName[cs]=%VMNAME%: Prohlížeč aktualizací softwaru
GenericName[da]=%VMNAME%: Softwareopdateringsviser
GenericName[de]=%VMNAME%: Software-Aktualisierungs-Betrachter
GenericName[el]=%VMNAME%: Προβολή ενημερώσεων λογισμικού
GenericName[en@shaw]=%VMNAME%: 𐑕𐑪𐑓𐑑𐑢𐑺 𐑳𐑐𐑛𐑱𐑑 𐑝𐑿𐑼
GenericName[en_GB]=%VMNAME%: Software Update Viewer
GenericName[es]=%VMNAME%: Visor de actualizaciones de software
GenericName[fi]=%VMNAME%: Ohjelmistopäivitysten katselin
GenericName[fr]=%VMNAME%: Gestionnaire de mises à jour des logiciels
GenericName[gl]=%VMNAME%: Visor da actualización de programas
GenericName[gu]=%VMNAME%: સોફ્ટવેર સુધારો દર્શક
GenericName[he]=%VMNAME%: מציג עדכון תכונה
GenericName[hi]=%VMNAME%: सॉफ्टवेयर अद्यतन दर्शक
GenericName[hu]=%VMNAME%: Szoftverfrissítés-megjelenítő
GenericName[id]=%VMNAME%: Penilik Pemutakhiran Perangkat Lunak
GenericName[it]=%VMNAME%: Visualizzatore aggiornamento software
GenericName[kn]=%VMNAME%: ತಂತ್ರಾಂಶ ಅಪ್‌ಡೇಟ್ ವೀಕ್ಷಕ
GenericName[lt]=%VMNAME%: Programinės įrangos atnaujinimo rodytuvas
GenericName[lv]=%VMNAME%: Programmatūras atjaunināšanas skatītājs
GenericName[ml]=%VMNAME%: സോഫ്റ്റ്‌വെയര്‍ പരിഷ്കണ പ്രദര്‍ശനി
GenericName[mr]=%VMNAME%: सॉफ्टवेअर अद्ययावत प्रदर्शक
GenericName[nb]=%VMNAME%: Vis programvareoppdateringer
GenericName[or]=%VMNAME%: ସଫ୍ଟୱେର ଅଦ୍ୟତନ ପ୍ରଦର୍ଶକ
GenericName[pa]=%VMNAME%: ਸਾਫਟਵੇਅਰ ਅੱਪਡੇਟ ਦਰਸ਼ਕ
GenericName[pl]=%VMNAME%: Przeglądarka aktualizacji oprogramowania
GenericName[pt]=%VMNAME%: Visualizador de Actualizações de Aplicações
GenericName[pt_BR]=%VMNAME%: Visualizador de atualizações de programas
GenericName[ro]=%VMNAME%: Vizualizator de actualizări de programe
GenericName[ru]=%VMNAME%: Просмотр обновлений программ
GenericName[sl]=%VMNAME%: Pregledovalnik posodobitve programske opreme
GenericName[sr]=%VMNAME%: Прегледач надоградњи програма
GenericName[sr@latin]=%VMNAME%: Pregledač nadogradnji programa
GenericName[sv]=%VMNAME%: Visare för programuppdateringar
GenericName[ta]=%VMNAME%: மென்பொருள் மேம்படுத்தல் காட்டி
GenericName[te]=%VMNAME%: సాఫ్టువేర్ నవీకరణము దర్శని
GenericName[tr]=%VMNAME%: Yazılım Güncelleme Görüntüleyicisi
GenericName[uk]=%VMNAME%: Перегляд оновлень програм
GenericName[zh_CN]=%VMNAME%: 软件更新查看器
GenericName[zh_HK]=%VMNAME%: 軟件更新檢視程式
GenericName[zh_TW]=%VMNAME%: 軟體更新檢視程式
Comment=Update software installed on the system
Comment[ar]=حدّث الحزم المُثبّتة على النظام
Comment[as]=ব্যৱস্থাপ্ৰণালীত সংস্থাপিত চালনাজ্ঞান উন্নয়ন কৰক
Comment[bg]=Обновяване на софтуера инсталиран върху системата
Comment[bn]=সিস্টেমে ইনস্টলকৃত সফ্টওয়্যার হালনাগাদ করা হবে
Comment[bn_IN]=সিস্টেমে ইনস্টল থাকা সফ্টওয়্যার আপডেট করুন
Comment[ca]=Actualitza el programari instal·lat en el sistema
Comment[ca@valencia]=Actualitza el programari instal·lat en el sistema
Comment[cs]=Aktualizovat software instalovaný v tomto systému
Comment[da]=Opdatér software installeret på systemet
Comment[de]=Auf dem System installierte Software aktualisieren
Comment[el]=Ενημέρωση εγκατεστημένου λογισμικού
Comment[en@shaw]=𐑳𐑐𐑛𐑱𐑑 𐑕𐑪𐑓𐑑𐑢𐑺 𐑦𐑯𐑕𐑑𐑷𐑤𐑛 𐑪𐑯 𐑞 𐑕𐑦𐑕𐑑𐑩𐑥
Comment[en_GB]=Update software installed on the system
Comment[es]=Actualizar el software instalado en el sistema
Comment[fi]=Päivitä järjestelmään asennettuja ohjelmistoja
Comment[fr]=Met à jour les logiciels installés sur le système
Comment[gl]=Actualizar o software instalado no sistema
Comment[gu]=સિસ્ટમ પર સ્થાપિત થયેલ સોફ્ટવેરને સુધારો
Comment[he]=עדכון תכנות המותקנות על המערכת
Comment[hi]=सिस्टम पर संस्थापित सॉफ्टवेयर अद्यतन करें
Comment[hu]=A rendszerre telepített szoftverek frissítése
Comment[id]=Mutakhirkan perangkat lunak yang terpasang pada sistem
Comment[it]=Aggiorna il software installato sul sistema
Comment[kn]=ಗಣಕದಲ್ಲಿ ಅನುಸ್ಥಾಪಿತಗೊಂಡಿರುವ ತಂತ್ರಾಂಶವನ್ನು ಅಪ್ಡೇಟ್ ಮಾಡು
Comment[lv]=Atjaunināt sistēmā instalēto programmatūru
Comment[ml]=സിസ്റ്റമില്‍ ഇന്‍സ്റ്റോള്‍ ചെയ്തിരിക്കുന്ന സോഫ്റ്റ്‌വെയറുകള്‍ പരിഷ്കരിക്കുക
Comment[mr]=प्रणालीवर प्रतिष्ठापीत सॉफ्टवेअर अद्ययावत करा
Comment[nb]=Oppdater programvare som er installert på systemet
Comment[or]=ତନ୍ତ୍ରରେ ସ୍ଥାପନ କରାଯାଇଥିବା ସଫ୍ଟୱେରକୁ ଅଦ୍ୟତନ କରନ୍ତୁ
Comment[pa]=ਸਿਸਟਮ ਉੱਤੇ ਇੰਸਟਾਲ ਸਾਫਟਵੇਅਰ ਅੱਪਡੇਟ ਕਰੋ
Comment[pl]=Aktualizacja oprogramowania zainstalowanego w systemie
Comment[pt]=Actualizar aplicações instaladas no sistema
Comment[pt_BR]=Atualize os programas instalados no sistema
Comment[ro]=Actualizați programele instalate pe sistem
Comment[ru]=Обновление программ, установленных в системе
Comment[sl]=Posodobitev programske opreme nameščene na sistemu
Comment[sr]=Надогради програме инсталиране на овом систему
Comment[sr@latin]=Nadogradi programe instalirane na ovom sistemu
Comment[sv]=Uppdatera programvara installerade på systemet
Comment[ta]=கணினியில் நிறுவப்பட்ட மென்பொருளை புதுப்பிக்கவும்
Comment[te]=సిస్టమ్‌నందు సంస్థాపించిన సాఫ్టువేర్‌ను నవీకరించుము
Comment[uk]=Оновлення програм, встановлених у системі
Comment[zh_CN]=更新本系统中安装的软件
Comment[zh_HK]=更新系統中已安裝的軟件
Comment[zh_TW]=更新系統中已安裝的軟體
Icon=system-software-update
Exec=qvm-run -q --tray -a --user=root %VMNAME% "gpk-update-viewer"
Terminal=false
Type=Application
Categories=GNOME;GTK;Settings;System;PackageManager;
X-Desktop-File-Install-Version=0.16
X-Qubes-VmName=%VMNAME%
Icon=%VMDIR%/icon.png
