[Unit]
Description=Qubes Whonix firewall updater
After=qubes-whonix-network.service
Before=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/lib/whonix/init/init.sh
ExecStart=/usr/lib/whonix/init/qubes-firewall-user-script
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
